p {
    margin: 3px;
}

.logo {
    width: 40vw;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: space-between;
    margin: auto;
    display: flex;
}

.logo>img {
    height: 35px;
}

#h2 {
    width: 38%;
    text-align: right;
    margin: 0px auto 8px;
    opacity: 0.5;
    cursor: pointer;
}

.main-div {
    border: 1px solid #0188cc;
    width: 40vw;
    height: auto;
    border-radius: 23px;
    margin: auto;
}

.header {
    background-color: #0188cc;
    border: 5px solid #0188cc;
    width: 97%;
    margin: -1;
    font-size: 18px;
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 20px 20px 0 0;
    height: auto;
}

.cart,
.payment {
    margin: 20px;
    padding: 5px;
    background-color: rgb(247, 244, 244);
    font-weight: 800;
    border-bottom: 1px solid #1b3141;
}

.cart:hover,
.payment:hover {
    color: #0188cc;
}

.cart-details {
    margin: 20px;
}

.cart-details>div {
    display: grid;
    padding: 8px;
    grid-template-columns: 50% 50%;
    border-top: 1px solid rgb(173, 167, 167);
    background-color: rgb(248, 248, 248);
}

.cart-details>div:nth-child(2) {
    background-color: transparent;
}

.credit-debit {
    margin: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.credit-debit>div:nth-child(1) {
    padding: 8px;
    border-radius: 5px 5px 0 0;
    border: 1px solid gray;
    border-bottom: none;
}

.credit-debit>div:nth-child(2) {
    border-bottom: 1px solid gray;
}

.form {
    margin: 20px;
}

#myform {
    padding: 0 40px 0 40px;
}

input {
    padding: 7px;
    border: 1px solid rgb(146, 138, 142);
    border-radius: 3px;
}

label {
    padding: 7px;
    font-weight: 300;
}

.div1 {
    display: grid;
    grid-template-columns: 25% 60%;
    margin: 10px;
}

.div2>div {
    display: grid;
    grid-template-columns: 25% 60%;
    margin: 10px;
}

.ddmmyy {
    display: grid;
    grid-template-columns: 45% 5% 50%;
}

.div3 {
    display: grid;
    margin: 10px;
    grid-template-columns: 25% 25% 50%;
}

.img1 {
    width: auto;
    height: 25px;
    margin: 5px;
}

.checkbox {
    margin: 20px;
    padding: 3px;
    text-align: center;
    font-weight: 300;
    background-color: rgb(238, 211, 154);
}

.button {
    margin: 20px;
    padding: 20px;
    background-color: rgb(240, 238, 238);
    text-align: center;
    border-top: 1px solid rgb(190, 187, 187);
}

button {
    border: 2px solid #0188cc;
    background-color: #067ab4;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer;
    width: auto;
}

/* RESPONSIVE */

@media (max-width: 1350px) {
    .main-div {
        width: 55%;
    }
}

@media (max-width: 1140px) {
    .main-div {
        width: 60%;
    }
}

@media (max-width: 1050px) {
    .main-div {
        width: 65%;
    }
}

@media (max-width: 950px) {
    .main-div {
        width: 70%;
    }
}

@media (max-width: 890px) {
    .main-div {
        width: 75%;
    }
}

@media (max-width: 790px) {
    .main-div {
        width: 80%;
    }
}

@media (max-width: 630px) {
    .main-div {
        width: 100%;
    }
}

.hide {
    display: none;
}
